<p-toast>
    <div class="flex justify-content-center align-items-center w-full min-h-screen">
        <p-card header="Simple Card">
            <form [formGroup]="formBook" (ngSubmit)="edit?updateBook():createBook()" class="flex flex-column gap-2">

                <div class="field flex flex-column gap-2">
                    <label for="title">Titulo del libro</label>
                    <input formControlName="title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field  flex flex-column gap-2">
                    <label for="author">Autor</label>
                    <input formControlName="author" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field flex flex-column gap-2">
                    <label for="pages">Paginas</label>
                    <p-inputNumber formControlName="pages" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                
                </div>
                     
                <div class="field flex flex-column gap-2">
                    <label for="price">Precio</label>
                    <p-inputNumber formControlName="price" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                </div>

                <p-button label="Guardar" [loading]="isSaveInProgress" type="submit"/>
            </form>

            
        </p-card>
    </div>
</p-toast>
<p>Working....</p>