<p-toast>
    <div class="flex justify-content-center align-items-center w-full min-h-screen">
        <p-card header="Simple Card">
            <div class="field">
                <label for="firstname1">Titulo del libro</label>
                <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field">
                <label for="lastname1">Lastname</label>
                <input id="lastname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </p-card>
    </div>
</p-toast>